@import './utils/variables';
@import './components/body';
@import './components/visually-hidden';
@import './components/sections';
@import './components/container';
@import './components/button';
@import './components/filtr-button';
@import './components/header';
@import './components/footer';
@import './components/hero';
@import './components/features';
@import './components/work';
@import './components/team';
@import './components/clients';
@import './components/portfolio';
@import './components/modal-window';
