body {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;

    @media screen and (min-width: 480px) {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);
    }
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 1200px) {
    h1,
    h2,
    h3,
    p {
        margin: 0;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}
