.header {
    max-width: 1600px;
    margin: 0 auto;
    border-bottom: 1px;
    background-color: var(--white);
}

.container__header {
    display: flex;
    align-items: center;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--blue);
}

.logo__light {
    color: var(--white);
}

.logo__dark {
    color: var(--primery-text-color);
}

.open-menu-btn {
    margin: 22px 0 22px 0;
}
.main-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: none;
    margin-left: 93px;
    &__item:not(:last-child) {
        margin-right: 50px;
    }
    &__link {
        padding: 32px 0;
        display: flex;
        position: relative;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primery-text-color);
    }
    &__link:hover,
    &__link:focus {
        color: var(--blue);
    }
}

.site-nav-link__current {
    color: var(--blue);
    &::after {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        display: block;
        bottom: 0;

        background: #2196f3;
        border-radius: 2px;
    }
}

.contact-nav {
    display: flex;
    margin-left: auto;
    & {
        display: flex;
        &__item {
            display: none;
        }
        &__link {
            align-items: center;
            padding: 32px 0;
            display: flex;

            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: var(--secondary-text-color);
            text-decoration: none;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        &__link:hover,
        &__link:focus {
            color: var(--blue);
        }
        &__item + &__item {
            margin-left: 30px;
        }
        &__icon {
            margin-right: 10px;
            fill: currentColor;
        }
    }
}

.site-nav__link,
.contact-nav-link {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
