.hero {
    display: block;
    max-width: 1600px;
    margin: 0 auto 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    text-align: center;
    background-color: var(--banner);
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/mob/hero-mob.jpg);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .box {
            background-image: url(../images/mob/hero-mob2x.jpg);
        }
    }
    @media screen and (min-width: 768px) {
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/tab/hero-tab.jpg);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            .box {
                background-image: url(../images/tab/hero-tab2x.jpg);
            }
        }
    }
    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/PC/hero-bg.jpg);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            .box {
                background-image: url(../images/PC/hero2x.jpg);
            }
        }
    }
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__title {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--second-text-color);
        margin-bottom: 30px;
        color: var(--white);
    }
}
