.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 700ms, visibility 700ms;
}

.backdrop .is-hidden .modal {
    transform: scale(1.5);
    transition: transform 700ms;
}

.modal {
    padding: 40px 40px 40px 40px;
    position: absolute;
    min-width: 528px;
    min-height: 581px;
    top: 50%;
    left: 50%;
    transform: scale(1);
    transform: translate(-50%, -50%);
    transition: transform 700ms;

    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    @media screen and (max-width: 480px) {
        width: 450px;
        height: 609px;
    }
}

.modal-close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal-close-icon:focus,
.modal-close-icon:hover {
    fill: var(--blue);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: 0;
}

.modal-title {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}

.modal-field {
    margin-bottom: 10px;
}

.field-comment {
    margin-bottom: 20px;
}

.modal-field:last-child {
    margin-bottom: 0;
}

.input-wrap {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input {
    padding-left: 42px;
    padding-right: 15px;
    font-weight: 400;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        border-color: var(--blue);
    }
    &:focus + .input-icon {
        fill: var(--blue);
    }
}

.modal-form-input .form-input-text {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: #757575;
}

.contract-text {
    color: var(--blue);
    margin-left: 5px;
}

.comment {
    display: block;
    padding: 12px 16px;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    outline: none;
    &:focus {
        border-color: var(--blue);
    }
    &:placeholder {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
    }
}

.check-text {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--secondary-text-color);
}

.check-item {
    width: 16px;
    height: 15px;
    border: 2px solid var(--primery-text-color);
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-icon {
    fill: var(--white);
}

.modal-check:checked + .check-text .check-item {
    background-color: var(--blue);
    border: none;
}

.button-modal {
    margin: 0 auto;
    display: block;
}
