.section {
    margin: 0 auto;

    // @media screen and (min-width: 480px) {
    //     padding: 60px 0;
    // }
    @media screen and (max-width: 1199px) {
        padding: 60px 0;
    }
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
.section__title {
    margin-bottom: 30px;
    // padding-top: 60px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}
