.section {
    // max-width: 1600px;
    margin: 0 auto;
    padding: 0 0 60px 0;
}
.section__title {
    // padding-top: 94px;
    margin-bottom: 30px;
    padding-top: 60px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}
