.section__team {
    background: #f5f4fa;
}

.team {
    // display: flex;
    // text-align: center;
    margin-bottom: -30px;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
    }
}

.team__item {
    width: 100%;
    @media screen and (min-width: 480px) {
        background: #ffffff;
        & + & {
            margin-bottom: 30px;
        }
    }
    margin-bottom: 30px;
    margin-top: 60px;
    @media screen and (min-width: 768px) {
        background: #ffffff;
        width: calc(100% / 2 - 30px);
        margin-left: 30px;
    }
    @media screen and (min-width: 1200px) {
        flex-basis: calc(100% / 4 - 30px);
    }
}

.team-box {
    padding: 30px 0;
    @media screen and (min-width: 480px) {
        text-align: center;
    }
}

.team-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}
.team-text {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.social {
    display: flex;
    justify-content: center;
}

.social__item {
    width: 44px;
    height: 44px;
}
.social__item + .social__item {
    margin-left: 10px;
}
.social__link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #afb1b8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--blue);
        color: var(--white);
    }
}
.social__icon {
    fill: currentColor;
}
