.section-team {
    background-color: #f5f4fa;
}

.section__title-works {
    padding-top: 0;
}

.works {
    @media screen and (min-width: 1200px) {
        display: flex;
    }

    &__img {
        display: block;
        max-width: 370px;
        height: auto;
    }
    &__item {
        display: block;
        & + & {
            margin-left: 30px;
        }
        &-wrap {
            position: relative;
        }
        &-text {
            width: 370px;
            height: 70px;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 27px;
            font-size: 14px;
            line-height: 1.14;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            background-color: rgba(47, 48, 58, 0.8);
            color: var(--white);
        }

        @media screen and (min-width: 1200px) {
            flex-basis: calc(100% / 3 - 30px);
            &__item:first-child {
                margin-left: 30px;
            }
        }
    }
}
